################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/lecturedemo/FileContentIndex
/.vs/lecturedemo/v17
*.json
.vs
x64
Debug